<div class="module-contact-sang">
    <div class="title">
        <h3><b>Hãy để VNIs giúp bạn Đăng kí phát hành Hóa đơn điện tử</b></h3>
    </div>
    <div class="register-button">
        <button type="button" class="button">ĐĂNG KÍ SỬ DỤNG</button>
    </div>
    <div class="grid-x grid-padding-x container-contact" data-equalizer="foo">
        {{#get "posts" include="tags" filter="tags:contact-content" order="tags"}}
            {{#foreach posts}}
                    <div class="cell large-4 medium-4 small-12">
                        <div class="cell item-contact "data-equalizer-watch="foo">
                            <div class="content-contact">
                                {{content}}
                            </div>
                        </div>
                    </div>
            {{/foreach}}
        {{/get}}
    </div>
</div>