<div class="module-footer-sang">
    <div class="grid-x grid-padding-x">
        {{#get "posts" include="tags" filter="tags:footer-content" order="tags"}}
            {{#foreach posts}}
                    <div class="cell large-4 medium-4 small-12">
                        <div class="content-footer">
                            <h5>{{title}}</h5>
                            {{#if feature_image}}
                                <img
                                    srcset="{{img_url feature_image size="s"}} 300w,
                                            {{img_url feature_image size="m"}} 600w,
                                            {{img_url feature_image size="l"}} 1000w,
                                            {{img_url feature_image size="xl"}} 2000w"
                                    sizes="(max-width: 1200px) 200px,
                                            (max-width: 1570px) 300px,
                                            500px"
                                    src="{{img_url feature_image size="s"}}"
                                    alt="{{title}}"
                                />
                            {{/if}}
                            <h5>{{content}}</h5>
                        </div>
                    </div>
            {{/foreach}}
        {{/get}}
    </div>
</div>