<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        {{#if @site.logo}}
            <img class="site-logo" src="{{img_url @site.logo size="xxs"}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
      </li>
      <li>
          <a href="/">HÓA ĐƠN ĐIỆN TỬ</a>
        <ul class="menu vertical">
            {{!-- <li><a href="/giai-phap">Giải pháp</a></li> --}}
            
              {{#get "posts" include="tags" filter="tags:hddt-sub" order="tags"}}
                {{#foreach posts}}
                    <li>{{> "post-card-nav"}}</li>
                {{/foreach}}
              {{/get}}
            
        </ul>
      </li>
      {{!-- <li><a href="/gioi-thieu">GIỚI THIỆU</a></li> --}}
      <li>
        {{#get "posts" include="tags" filter="tags:gioi-thieu" order="tags"}}
          {{#foreach posts}}
              <li>{{> "post-card-nav"}}</li>
          {{/foreach}}
        {{/get}}
      </li>
      <li><a href="/kien-thuc-HDDT">KIẾN THỨC VỀ HĐĐT</a></li>
      <li><a href="/chuc-nang">CHỨC NĂNG</a></li>
      <li><button type="button" class="button">DÙNG THỬ MIỄN PHÍ</button></li>
    </ul>
  </div>
  <div class="top-bar-right">
    {{!-- <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul> --}}
    <button class="button" type="button" data-toggle="example-dropdown-bottom-right">LIÊN HỆ</button>
    <div class="dropdown-pane" data-position="bottom" data-alignment="right" id="example-dropdown-bottom-right" data-dropdown data-auto-focus="true">
      {{!-- <ul class="dropdown menu" data-dropdown-menu>
      <li>
          <a href="/">LIÊN HỆ</a>
        <ul class="menu vertical">
          <li>
            <div>
              <h1>TRỤ SỞ CHÍNH: </h1>
              <h1>CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ ONLINE VINA</h1>
              <p>Địa chỉ: 22/1/2 Nguyễn Văn Săng, Phường Tân Sơn Nhì, Quận Tân Phú, TP.HCM</p>
              <p>Hotline: 09 6969 2224</p>
              <p>Email: <a href="">Info@onlinevina.vn</a></p>
            </div>
          </li>
            
        </ul>
      </li>
      </ul> --}}
      xvnxmncbvcbxvnxmncbvcbxvnxmncbvcbxvnxmncbvcbxvnxmncbvcb
    </div>
  </div>
</div>