<div class="callout">
    <div class="grid-x grid-padding-x">
        <div class="cell large-4 medium-4 small-12 image-callout">
            {{#if feature_image}}
                <figure class="post-full-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(max-width: 800px) 400px,
                                (max-width: 1170px) 700px,
                                1400px"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{title}}"
                    />
                </figure>
            {{/if}}
        </div>
        <div class="cell large-8 medium-8 small-12 content-callout">
            <h6><a href="{{url}}">{{title}}</a></h6>
            <p>    
                <time 
                class="post-date" 
                datetime="{{date format='YYYY-MM-DD'}}">
                    <i class="far fa-calendar"></i>&nbsp{{date format="DD/MM/YYYY"}} - 
                    <i class="fas fa-user"></i>&nbsp<span>Phần mềm hóa đơn điện tử Vina-invoice</span>
                </time>
            </p>
            <p>{{excerpt characters="200"}}...</p>
        </div>
    </div>
</div>