.module-homepage{
    .container{
        width: 80%;
        margin: 0 auto;
        p {
            margin-bottom: 0.5rem;
            font-size: 0.96rem;
        }
        h2{
            font-size: 2rem;
            font-weight: bold;
            padding-right: 100px;
        }
        strong{
            color:#339966;; font-size: 24px;
        }
        .grid-x:last-child {
            .text4{
                color: black; font-size: 1rem;
            }
        }
        .grid-x:first-child {
            h2{
                color: #81d742;
            }
        }
        .grid-x {
            margin-bottom: 5%;
        }
        .text2{
            text-align: right;
        }
        .grid-x:nth-child(odd) ion-icon {
            color: green;
            font-size: 24px;
            margin-bottom: -5px;
            margin-right: 3%;
        }
        
        .grid-x:nth-child(even) ion-icon {
            color: green;
            font-size: 24px;
            margin-bottom: -5px;
            margin-left: 3%;
        }
        
        img{
            width: 320px;
            height: 220px;
        }
        .text3{
            margin-top: 15px;
        }
        
        img:first-child{
            width: 100%;
            height: 100%;
        }
        .padding-right{
            padding-right: 40px;
        }
        
        .grid-x:first-child {
            .medium-4 {
                p {color: #4c9d2f; padding-right: 40px;}
            };
        }
        
        .grid-x:first-child {
            .medium-4 {color: #81d742;};
        }
    }
}
