
.top-bar{
    align-items: center;
    .top-bar-left{
        padding-left: 60px;
    }
    .top-bar-right{
        padding-right: 80px;
    }
}

.module-footer-sang{
    background-color: #009bff;
    padding: 20px 80px;
    .content-footer{
        color: white;
        h5{font-size: 16px;}
    }
}
.module-contact-sang{
    background-color: beige;
    text-align: center;
    padding: 40px 80px;
    .title{
        margin: 20px 0px;
    }
    .register-button{
        margin: 30px 0px;
        button{
            font-size: 32px;
        }
    }
    .container-contact{
        .item-contact{
            border: 1px solid #009bff; 
            background-color: white;
            .content-contact{
                text-align: left;
                margin: 30px 20px;
                .icon-contact{
                    display: inline-block;
                    font-size: 32px;
                }
                .title-contact{
                    display: inline-block;
                }
            }
        }
    }
}
.module-post-sang{
    padding: 40px 80px;
    .post-content{
        text-align: justify;
    }
    .post-sidebar{
        background-color: aqua;
    }
}
