{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
<div class="inner">
    {{> "site-nav"}}
</div>
</header>


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="sang">
            <h1>hello đây là page chức năng</h1>
        </div>

    </div>
</main>
