{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div>
            <h1>hello đây là page giai phap</h1>
        </div>

    </div>
</main>
{{> "contact"}}
