{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- {{> header background=@site.cover_image}} 
<div class="inner">
    {{> "site-nav"}}
</div>
</header> --}}

{{> "site-nav"}}
{{!-- The main content area --}}
<main class="module-homepage">
    {{#get "posts" include="tags" filter="tags:home"}}
        {{#foreach posts}}
            {{content}}
        {{/foreach}}
    {{/get}}
</main>
{{> "contact"}}
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>