{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
<div class="inner">
    {{> "site-nav"}}
</div>
</header>


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="module-postkienthuc">
        <div class="grid-x grid-padding-x">
            <div class="cell large-8 medium-8 small-12">
                <div class="post-content-kienthuc">
                    {{#get "posts" include="tags" filter="tags:kien-thuc" order="ASC"}}
                        {{#foreach posts}}
                            {{> "post-card-kienthuc"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <div class="post-sidebar">
                    
                </div>
            </div>
        </div>
    </div>
</main>
