{{!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> --}}
{{!< default}}
{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <main id="site-main" class="site-main outer">
        <div class="inner">

            <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

                <header class="post-full-header">
                    <section class="post-full-meta">
                        <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                        {{#primary_tag}}
                            <span class="date-divider">/</span> <a href="{{url}}">{{name}}</a>
                        {{/primary_tag}}
                    </section>
                    <h1 class="post-full-title">{{title}}</h1>
                </header>

                {{#if feature_image}}
                    <figure class="post-full-image">
                        {{!-- This is a responsive image, it loads different sizes depending on device
                        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                        <img
                                srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px"
                                src="{{img_url feature_image size="xl"}}"
                                alt="{{title}}"
                        />
                    </figure>
                {{/if}}

                <section class="post-full-content">
                    <div class="post-content">
                        {{content}}
                    </div>
                </section>

                {{!-- Email subscribe form at the bottom of the page --}}
                {{#if @labs.subscribers}}
                    <section class="subscribe-form">
                        <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
                        <p>Get the latest posts delivered right to your inbox</p>
                        {{subscribe_form placeholder="youremail@example.com"}}
                    </section>
                {{/if}}

            </article>

        </div>
    </main>
{{/post}}