{{!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> --}}
{{!< default}}
{{> "site-nav"}}
{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <div class="module-post-sang">
        <div class="grid-x grid-padding-x">
            <div class="cell large-8 medium-8 small-12">
                <div class="post-content">
                    {{content}}
                </div>
            </div>
            <div class="cell large-4 medium-4 small-12">
                <div class="post-sidebar">
                    
                </div>
            </div>
        </div>
    </div>
{{/post}}