.module-gioithieu{
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
        color: #019bfd;
    }

    .bold2 {
        font-weight: bold;

    }
}