.module-postkienthuc{
    padding: 40px 80px;
    h1 {
        font-size: 2em;
      }
  
    h2 {
    font-size: 1.3em;
    font-weight: bold
    }
    .post-content-kienthuc{
        .callout {
            border-top: none; 
            border-left: none; 
            border-right: none; 
            .content-callout{
                time{
                    color: #888;
                }
            }
        }
    }
}